<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FLMS_Enrollment_System.My.MySettings.DatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Administrator\Documents\GitHub\ITCC-Project\FLMS_Enrollment_System\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FLMS_Enrollment_System.My.MySettings.DatabaseConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Administrator\Documents\GitHub\ITCC-Project\FLMS_Enrollment_System\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FLMS_Enrollment_System.My.MySettings.DatabaseConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>